body {
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Set a minimum height to ensure the content is fully visible */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color: #ffffff;
    text-align: center;
}

.header {
    height: 30px;
    width: 98%;
    margin-top: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}


.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

#city {
    border-radius: 10px;
    outline: none;
    border: 1px solid grey;
    padding: 2px;
    font-size: 9px;
    width: 150px;
    padding: 4px;
    font-size: 16px;
}

label {
    color: black;
}

.output {
    display: flex; 
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin-top: 20px;
    border-radius: 10px;
    background-color:aqua;
    font-size: 9px;
    text-align: center;
    color: black;
}

.outputOnclick {


}

.location {
    font-weight: bold;
    font-size: 16px;

}

.footer {
    height: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20x;
    font-size: 9px;
    color: black;
}